<center>


<h1>Editing bugg</h1>


<%= render "form", bugg: @bugg, project: nil %>

<br>

<div>

  <%= link_to "Show this bugg", @bugg, class: "btn btn-info" %> 

  <br>
  <br>

  <%= link_to "See all bugs", buggs_path, class: "btn btn-primary" %>


</div>

</center>
