
<center>
<h1>Step 1: Name Your New Project</h1>

<button class="btn btn-primary" id="button" > THis is a button </button>



<%= render "form", project: @project%>

<br>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>


<div id="manipulate"> this is to be changed </div>

</center>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js">
</script>
<script>
$("#button").on("click", function(){
$('#manipulate').html("Hello World. Welcome to Tutlane");
alert('Reloaded')
});
</script>
